@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FA00F1, #A900E1);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #3701FA;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3701FA;
    text-align: center;
    text-shadow: 1px 1px 2px #fa00f2ca;
}

h2{
    color: #750AE0;
}

p{
    text-align: justify;
}