@charset "UTF-8";

/*
    Todas as demais mídias
    
    Typical Device Breakpoints
    mobile até 480px
    extra small devices 481 até 767px
    small tablets 768px até 991px
    large tablets/laptops 992px até 1199px
    desktops 1200px até 1919px
    extra large screens 1920px até 9999px
*/

@media print {

}

@media screen and (min-width: 481px) and (max-width:767px) {
    body {
        background-image: url(../imagens/bagi4.jpg);
        background-position: center center;
    }
    img.phone { display: none;}
    img.phone_deitado { display: block;}
    img.tablet { display: none;}
    img.print { display: none;}
    img.pc { display: none;}
    img.tv { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
        background-position: center center;
    }
    img.phone { display: none;}
    img.phone_deitado { display: none;}
    img.tablet { display: block;}
    img.print { display: none;}
    img.pc { display: none;}
    img.tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
        background-position: center center;
    }
    img.phone { display: none;}
    img.phone_deitado { display: none;}
    img.tablet { display: none;}
    img.print { display: none;}
    img.pc { display: block;}
    img.tv { display: none;}
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
        background-position: center center;
    }
    img.phone { display: none;}
    img.phone_deitado { display: none;}
    img.tablet { display: none;}
    img.print { display: none;}
    img.pc { display: none;}
    img.tv { display: block;}
}